# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

#### Objectives:
In markdown cells:
- List popular languages for Data Science using numbered list
- List popular libraries for Data Science using numbered list
- List popular tools for Data Science using table

In code cells:
- Give example of arithmetic expression in Python
- Give example of arithmetic expression in Python with a printed output

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Apache Spark

| Data Science Tools|
| ---------- |
| Jupyter Notebooks|
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4) + 5

17

In [7]:
# This will convert minutes 200 minutes to hours by dividing by 60

minutes = 200
hours = minutes / 60
print("200 minutes converted to hours is", hours, "hours")

200 minutes converted to hours is 3.3333333333333335 hours

## Author
Sebastian "TaJaGaR"